#root {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.Container {
    position: relative;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    top: 0;
    align-items: center;
    width: 100vw;
    height: 94vh;
    scrollbar-width: thin;
    scrollbar-color: #ffffff50 #ffffff05;
}

.Overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 94vh;
}

.Experiences, .More {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.Outro {
    position: relative;
    align-items: center;
    justify-items: center;
}

.OutroImage {
    display: block;
    width: 50%;
    height: auto;
    z-index: -1;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.buttons {
    display:flex;
    flex-direction:row;
}

button {
    padding: 12px 24px;
    margin: 10px;
    width: 100%;
    background: #4cc9ff0f;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

button.outline {
    border: 2px solid #4cc9ff0f;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}

h1 {
    font-size: 70px;
    margin: 0;
    color: white;
}

h2 {
    color: #44ccffa0;
    margin: 0;
}

h3 {
    color: #FFFFFF;
    margin: 0;
}
h4 {
    margin: 0;
}

.indicator {
    position: fixed;
    bottom: 30px;
    left: 75%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: #aaa;
    opacity: 0.8;
    animation: fadeIn 1s ease-in-out;
    pointer-events: none; /* don't block clicks */
}

.mouse {
    width: 24px;
    height: 40px;
    border: 2px solid #aaa;
    border-radius: 12px;
    position: relative;
    margin-bottom: 6px;
}

.wheel {
    width: 4px;
    height: 6px;
    background: #aaa;
    border-radius: 2px;
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    animation: scrollWheel 1.5s infinite;
}

p, span{
    color: white;
}

.frosted {
    background: rgba(255,255,255,.1);
    backdrop-filter: blur(50px);
}

@keyframes scrollWheel {
    0% {
        opacity: 1;
        top: 6px;
    }

    100% {
        opacity: 0;
        top: 20px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.8;
    }
}

@media (max-width: 980px){
    .indicator{
        left: 50%;
    }
}